.burger-constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 60px;
  color: var(--text-primary-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locked-element {
  width: 536px;
}

.top-locked {
  margin: 0 0 16px 32px;
}

.bottom-locked {
  margin: 16px 0 0 32px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 568px;
  margin: 40px 16px 0;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.currency {
  width: 36px;
  height: 36px;
}
