.card {
  display: block;
  padding: 24px;
  color: var(--text-primary-color);
  text-decoration: none;
  background: var(--background);
  border-radius: 40px;
  box-shadow: 0 0 1px rgb(0 0 0 / 4%);
}

.header,
.footer,
.price {
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: space-between;
  gap: 24px;
}

.name {
  margin: 24px 0 0;
}

.status {
  margin: 8px 0 0;
}

.status-done {
  color: var(--colors-interface-success);
}

.footer {
  margin-top: 24px;
}

.ingredients {
  display: flex;
  min-width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient-item {
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: -16px;
  overflow: hidden;
  background:
    linear-gradient(var(--background-alt), var(--background-alt)) padding-box,
    linear-gradient(135deg, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-dimmed {
  opacity: 0.35;
}

.more {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  flex: 0 0 auto;
  gap: 8px;
}

@media (width <= 700px) {
  .card {
    padding: 20px;
    border-radius: 28px;
  }

  .ingredient-item {
    width: 52px;
    height: 52px;
    margin-right: -18px;
  }
}
